openapi: 3.0.3
info:
  title: Livoltek ESS API
  version: 1.4.6
  description: OpenAPI document synthesized from the live Livoltek ESS API
    documentation covering every listed entry from Site List through Site day
    energy query.
servers:
  - url: https://api.livoltek-portal.com:8081
    description: International server
  - url: https://api-eu.livoltek-portal.com:8081
    description: European server
tags:
  - name: Sites
  - name: Devices
  - name: Charging
  - name: Auth
  - name: Reports
security:
  - AuthorizationToken: []
paths:
  /hess/api/userSites/list:
    get:
      tags:
        - Sites
      summary: Site List
      operationId: siteList
      description: 'Returns a list of sites related to the given token, which is the
        account api_key. This API accepts parameters for convenient search, sort
        and pagination.Limit: Only support to 2 searh text at once; Only support
        to 1 sort text at once'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: |-
            {
                "code": "String",
                "message": "String",
                "data": {
                    "list": [{
                            "powerStationId": " String ",
                            "powerStationName": " String ",
                            "country": " String ",
                            "administrativeRegion":" String ",
                            "timeZone": " String ",
                            "powerStationType": " String ",
                            "powerStationStatus":" Integer" ,
                            "pvCapacity": " Double ",
                            "registrationTime": " Timestamp ",
                            "updateTime":," Long ",
                            "active": " Integer",
                            "agent": " Long"
                        }],
                    "count": " Integer"
                }
            }

            {
                "code": "200",
                "message": "SUCCESS",
                "data": {
                    "list": [
                        {
                            "powerStationId": "11009",
                            "powerStationName": "Maria Ilzanir",
                            "country": "BR",
                            "administrativeRegion": null,
                            "timeZone": "America/Fortaleza",
                            "powerStationType": "Grid-tied solar system",
                            "powerStationStatus": 2,
                            "pvCapacity": 2.7,
                            "registrationTime": "2022-02-25T12:16:21.000+0000",
                            "updateTime": 1655751244677,
                            "active": 1,
                            "agent": 129752657551361
                        }
                    ],
                    "count": 14
                }
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: /hess/api/userSites/list
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
        - name: powerStationType
          in: query
          required: false
          schema:
            type: string
            description: 'Site type 1-Grid-tied solar system 2-Solar storage system 3-EV
              charging hub 4-EV charging hub with solar storageParameter:
              1-Grid-tied solar system 2-Solar storage system 3-EV charging hub
              4-EV charging hub with solar storage'
          description: 'Site type 1-Grid-tied solar system 2-Solar storage system 3-EV
            charging hub 4-EV charging hub with solar storageParameter:
            1-Grid-tied solar system 2-Solar storage system 3-EV charging hub
            4-EV charging hub with solar storage'
        - name: createTime
          in: query
          required: false
          schema:
            type: integer
            format: int64
            description: The time when this site is being added to the systemSearch text for
              this site
          description: The time when this site is being added to the systemSearch text for
            this site
        - name: active
          in: query
          required: false
          schema:
            type: integer
            format: int32
            description: If the site is active 0-not active 1-active
          description: If the site is active 0-not active 1-active
        - name: country
          in: query
          required: false
          schema:
            type: string
            description: The region where this site locatedSearch text for this site
          description: The region where this site locatedSearch text for this site
        - name: sortField
          in: query
          required: false
          schema:
            type: string
            description: 'A sorting option for this site list: - pvCapacity - updateTime'
          description: 'A sorting option for this site list: - pvCapacity - updateTime'
        - name: sortType
          in: query
          required: false
          schema:
            type: string
            description: Sort order for the sort property. Allowed values ar ASC (ascending)
              and DESC (descending).
          description: Sort order for the sort property. Allowed values ar ASC (ascending)
            and DESC (descending).
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
            description: The first site index to be returned in the results, default=1
          description: The first site index to be returned in the results, default=1
        - name: size
          in: query
          required: true
          schema:
            type: integer
            format: int32
            description: 'Pagesize of each page: -5 -10 (default) -30'
          description: 'Pagesize of each page: -5 -10 (default) -30'
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/userSites/list?userToken=1&createTime=1659705100000&active=1&sortType=asc&page=10&size=10&userType=1&
        powerStationType=1& country=CN& sortField= pvCapacity
      x-response-fields:
        - Parameter: powerStationId
          Type: String
          Length: '10'
          Description: Site ID
          Mandatory: ''
          note: ''
        - Parameter: powerStationName
          Type: String
          Length: '64'
          Description: Site name
          Mandatory: ''
          note: ''
        - Parameter: country
          Type: String
          Length: '255'
          Description: County/Region
          Mandatory: ''
          note: ''
        - Parameter: administrativeRegion
          Type: String
          Length: '255'
          Description: administrative division
          Mandatory: ''
          note: Under developing
        - Parameter: powerStationType
          Type: String
          Length: '256'
          Description: Site type
          Mandatory: ''
          note: ''
        - Parameter: powerStationStatus
          Type: Integer
          Length: '2'
          Description: Site communication status 1-all devices are online 2-all devices
            are offline 3-some devices in this site are offline
          Mandatory: ''
          note: ''
        - Parameter: pvCapacity
          Type: Double
          Length: '12'
          Description: PV capacity
          Mandatory: ''
          note: kWp
        - Parameter: registrationTime
          Type: Timestamp
          Length: ''
          Description: The time when this site is being added to the system
          Mandatory: ''
          note: 'Example: 2022-06-08T09:06:16.000+0000'
        - Parameter: updateTime
          Type: Long
          Length: '13'
          Description: The time for latest update of device in this site
          Mandatory: ''
          note: ''
        - Parameter: active
          Type: Integer
          Length: '1'
          Description: If the site is active 2-not active 3-active
          Mandatory: ''
          note: ''
        - Parameter: count
          Type: Integer
          Length: ''
          Description: The amount of sites
          Mandatory: ''
          note: ''
        - Parameter: timeZone
          Type: String
          Length: ''
          Description: time zone
          Mandatory: ''
          note: ''
        - Parameter: message
          Type: String
          Length: ''
          Description: Message code -SUCCESS -FAIL
          Mandatory: ''
          note: ''
        - Parameter: code
          Type: String
          Length: ''
          Description: http/https response code -200 ok -201 Created -401 Unauthorized
            -403 Forbidden -404 Not Found
          Mandatory: ''
          note: ''
  /hess/api/device/{siteId}/list:
    get:
      tags:
        - Devices
      summary: Device List
      operationId: deviceList
      description: Return the number of equipment in the specified site, equipment ID,
        equipment type (inverter, charging pile, electricity meter, etc.),
        equipment model, equipment SN and equipment manufacturer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: |-
            {
                "code": " String ",
                "message": " String ",
                "data": {
                    "list": [
                        {
                            "id": “Integer”,
                            "inverterSn": " String ",
                            "collectorSn": " String ",
                            "productType": " String ",
                            "deviceModel": " String ",
                            "deviceManufacturer": " String "
                        }
                    ],
                    "count": " Integer"
                }
            }

            {
                "code": "200",
                "message": "SUCCESS",
                "data": {
                    "list": [
              {
                            "id": 8,
                            "inverterSn": "2045-96510381D",
                            "collectorSn": "2045-96510381D",
                            "productType": "GT3-50K",
                            "deviceModel": "inverter",
                            "deviceManufacturer": "LIVOLTEK"
                        }
                    ],
                    "count": 2
                }
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: /hess/api/device/{siteId}/list
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            description: Site ID
          description: Site ID
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
            description: The first site index to be returned in the results, default=1
          description: The first site index to be returned in the results, default=1
        - name: size
          in: query
          required: true
          schema:
            type: integer
            format: int32
            description: 'Pagesize of each page: -5 -10 (default) -30'
          description: 'Pagesize of each page: -5 -10 (default) -30'
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/device/527/list?userToken=1&page=1&size=10&userType=1
      x-response-fields:
        - Parameter: count
          Type: Integer
          Length: ''
          Description: The number of equipment in this site
          Mandatory: ''
          constraint: ''
        - Parameter: id
          Type: Integer
          Length: '10'
          Description: Device id
          Mandatory: ''
          constraint: ''
        - Parameter: inverterSn
          Type: String
          Length: '64'
          Description: Device SN(include inverter、 evcharger、collector …)
          Mandatory: ''
          constraint: ''
        - Parameter: collectorSn
          Type: String
          Length: '64'
          Description: Device datalogger SN
          Mandatory: ''
          constraint: Under developing
        - Parameter: productType
          Type: String
          Length: '3'
          Description: Product type
          Mandatory: ''
          constraint: ''
        - Parameter: deviceManufacturer
          Type: String
          Length: ''
          Description: Device Manufacturer
          Mandatory: ''
          constraint: ''
        - Parameter: deviceModel
          Type: String
          Length: ''
          Description: Device type
          Mandatory: ''
          constraint: 'Default Return: inverter'
        - Parameter: code
          Type: String
          Length: ''
          Description: http/https response code -200 ok -201 Created -401 Unauthorized
            -403 Forbidden -404 Not Found
          Mandatory: ''
          constraint: ''
        - Parameter: message
          Type: String
          Length: ''
          Description: Message code -SUCCESS -FAIL
          Mandatory: ''
          constraint: ''
  /hess/api/site/{siteId}/curPowerflow:
    get:
      tags:
        - Sites
      summary: Current power flow
      operationId: currentPowerFlow
      description: |-
        Query the current energy flow of the specified power station to obtain the last update time, status of each system type, parameter unit (W) and value:

        Reques by site ID. *When there is no internal and external electricity meter connected in the system, there is no return value of the power grid.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: |-
            {
                "code": " String ",
                "message": " String ",
                "data": {
                    "pvStatus":" String ",
                    "pvPower": " BigDecimal ",
                    "powerGridStatus": " String ",
                    "powerGridPower": " BigDecimal ",
                    "loadStatus": " String ",
                    "loadPower": " BigDecimal ",
                    "energyStatus": " String ",
                    "energyPower": " BigDecimal ",
                    "energySoc": " BigDecimal ",
                    "chargingPileStatus": " String ",
                    "chargingPilePower": " BigDecimal ",
                    "timestamp": " Long "
                }
            }

            {
                "code": " 200 ",
                "message": " SUCCESS ",
                "data": {
                    "pvStatus": null,
                    "pvPower": 0.006,
                    "powerGridStatus": null,
                    "powerGridPower": 0.0,
                    "loadStatus": "idel",
                    "loadPower": 0.0,
                    "energyStatus": "disCharging",
                    "energyPower": -0.156,
                    "energySoc": 100.0,
                    "chargingPileStatus": null,
                    "chargingPilePower": null,
                    "timestamp": 1655789700000
                }
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: /hess/api/site/{siteId}/curPowerflow
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            description: Site ID
          description: Site ID
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/site/527/curPowerflow?userToken=1&userType=1
      x-response-fields:
        - Parameter: energyStatus
          Type: String
          Length: '15'
          Description: Battery working status -charging； -disCharging -idel
          Mandatory: ''
          constraint: ''
        - Parameter: energyPower
          Type: BigDecimal
          Length: ''
          Description: Bettery working power
          Mandatory: ''
          constraint: ''
        - Parameter: energySoc
          Type: BigDecimal
          Length: ''
          Description: Battery SoC
          Mandatory: ''
          constraint: ''
        - Parameter: pvStatus
          Type: String
          Length: '15'
          Description: PV working status -generating； -offline
          Mandatory: ''
          constraint: Under developing
        - Parameter: pvPower
          Type: BigDecimal
          Length: ''
          Description: PV generating power
          Mandatory: ''
          constraint: ''
        - Parameter: powerGridStatus
          Type: String
          Length: '15'
          Description: Power grid working status - importing - exporting
          Mandatory: ''
          constraint: Under developing
        - Parameter: powerGridPower
          Type: BigDecimal
          Length: ''
          Description: Power grid working power
          Mandatory: ''
          constraint: ''
        - Parameter: loadStatus
          Type: String
          Length: '15'
          Description: Load working status - consuming - idel
          Mandatory: ''
          constraint: Under developing
        - Parameter: loadPower
          Type: BigDecimal
          Length: ''
          Description: Load consuming power
          Mandatory: ''
          constraint: ''
        - Parameter: chargingPileStatus
          Type: String
          Length: '15'
          Description: EV charger working status - available - EV：Charging
          Mandatory: ''
          constraint: ''
        - Parameter: chargingPilePower
          Type: BigDecimal
          Length: ''
          Description: EV charger charging power
          Mandatory: ''
          constraint: ''
        - Parameter: timestamp
          Type: Long
          Length: '13'
          Description: Latest data update time
          Mandatory: ''
          constraint: ''
        - Parameter: code
          Type: String
          Length: ''
          Description: http/https response code - 200 ok； - 201 Created； - 401
            Unauthorized； - 403 Forbidden； - 404 Not Found
          Mandatory: ''
          constraint: ''
        - Parameter: message
          Type: String
          Length: ''
          Description: Message code - SUCCESS； - FAIL；
          Mandatory: ''
          constraint: ''
  /hess/api/device/{deviceId}/realElectricity:
    get:
      tags:
        - Devices
      summary: Device generation or consumption
      operationId: deviceGenerationOrConsumption
      description: Return device lifetime generation or consumption
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: |-
            {
                "code": " String ",
                "message": " String ",
                "data": {
                    "loadCustomerElectric": "String",
                    "pvProduceElectric": " String"
                    "timestamp": " Long"
                }
            }

            {
                "code": "200",
                "message": "SUCCESS",
                "data": {
                    "loadCustomerElectric": "3.1",
                    "pvProduceElectric": "137.5",
                    “timestamp”: 1655769319674
                }
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: /hess/api/device/{deviceId}/realElectricity
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
            description: Device ID
          description: Device ID
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/device/22018/realElectricity?userToken=1&userType=1
      x-response-fields:
        - Parameter: pvProduceElectric
          Type: String
          Length: ''
          Description: Inver solar generation
          Mandatory: ''
          constraint: kWh
        - Parameter: loadCustomerElectric
          Type: String
          Length: ''
          Description: load consumptions (only when there is RS485 meter connected to
            inverter)
          Mandatory: ''
          constraint: kWh
        - Parameter: timestamp
          Type: Long
          Length: '13'
          Description: Latest data update time
          Mandatory: ''
          constraint: 'Online: return time; Offline: return NULL'
        - Parameter: code
          Type: String
          Length: ''
          Description: http/https response code - 200 ok； - 201 Created； - 401
            Unauthorized； - 403 Forbidden； - 404 Not Found
          Mandatory: ''
          constraint: ''
        - Parameter: message
          Type: String
          Length: ''
          Description: Message code - SUCCESS； - FAIL；
          Mandatory: ''
          constraint: ''
  /hess/api/site/{siteId}/details:
    get:
      tags:
        - Sites
      summary: Site Details
      operationId: siteDetails
      description: return details of the selected site, including site id, site name,
        site image, installation region, installation time zone and so on
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: |-
            {
                "code": " String ",
                "message": " String ",
                "data": {
                    "powerStationId": " String ",
                    "powerStationName": " String ",
                    "country": " String ",
                    "timeZone": " String ",
                    "administrativeRegion": " String ",
                    "powerStationType": " String ",
                    "powerStationStatus": " String ",
                    "pvCapacity": " String ",
                    "registrationTime": "Timestamp",
                    "updateTime": “Long”,
                    "active": " Integer ",
                    "hasAlarm": " Integer ",
                    "siteIamge": " String "
                }
            }

            {
                "code": "200",
                "message": "SUCCESS",
                "data": {
                    "powerStationId": "3",
                    "powerStationName": "test",
                    "country": "CN",
                    "timeZone": "Asia/Shanghai",
                    "administrativeRegion": "CN",
                    "powerStationType": "光伏并网系统",
                    "powerStationStatus": "3",
                    "pvCapacity": "322.0",
                    "registrationTime": "2020-11-30T03:11:02.000+0000",
                    "updateTime": 1655769319674,
                    "active": 1,
                    "hasAlarm": null,
                    "siteIamge": null
                }
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: /hess/api/site/{siteId}/details
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            description: Site ID
          description: Site ID
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/site/123/details?userToken=1&userType=1
      x-response-fields:
        - Parameter: powerStationId
          Type: String
          Length: '10'
          Description: Site ID
          Mandatory: ''
          constraint: ''
        - Parameter: powerStationName
          Type: String
          Length: '64'
          Description: Site name
          Mandatory: ''
          constraint: ''
        - Parameter: country
          Type: String
          Length: '255'
          Description: County/Region
          Mandatory: ''
          constraint: ''
        - Parameter: timezone
          Type: String
          Length: '255'
          Description: time zone
          Mandatory: ''
          constraint: ''
        - Parameter: administrativeRegion
          Type: String
          Length: '255'
          Description: administrative division
          Mandatory: ''
          constraint: Under developing
        - Parameter: powerStationType
          Type: String
          Length: '255'
          Description: Site type 1-Grid-tied solar system 2-Solar storage system 3-EV
            charging hub 4-EV charging hub with solar storage
          Mandatory: ''
          constraint: ''
        - Parameter: powerStationStatus
          Type: Integer
          Length: '2'
          Description: Site communication status 1-all devices are online，
          Mandatory: ''
          constraint: ''
        - Parameter: ''
          Type: ''
          Length: ''
          Description: 2-all devices are offline， 3-some devices in this site are offline，
          Mandatory: ''
          constraint: ''
        - Parameter: pvCapacity
          Type: String
          Length: '14'
          Description: PV capacity
          Mandatory: ''
          constraint: 'Unit: kWp, GWp'
        - Parameter: registrationTime
          Type: Timestamp
          Length: '13'
          Description: The time when this site is being added to the system
          Mandatory: ''
          constraint: ''
        - Parameter: updateTime
          Type: Long
          Length: '13'
          Description: The time for latest update of device in this site
          Mandatory: ''
          constraint: ''
        - Parameter: active
          Type: Integer
          Length: '1'
          Description: If the site is active 0- not active 1- active
          Mandatory: ''
          constraint: ''
        - Parameter: hasAlarm
          Type: Integer
          Length: '1'
          Description: Is the site with alarming device? 0- No 1- Yes
          Mandatory: ''
          constraint: Under developing
        - Parameter: siteIamge
          Type: String
          Length: ''
          Description: Image uri of this site
          Mandatory: ''
          constraint: Under developing
        - Parameter: message
          Type: string
          Length: '64'
          Description: Message code - SUCCESS； - FAIL；
          Mandatory: ''
          constraint: ''
        - Parameter: code
          Type: String
          Length: '10'
          Description: http/https response code - 200 ok； - 201 Created； - 401
            Unauthorized； - 403 Forbidden； - 404 Not Found
          Mandatory: ''
          constraint: ''
  /hess/api/site/{siteId}/siteInstaller:
    get:
      tags:
        - Sites
      summary: Site Installer
      operationId: siteInstaller
      description: return the installer company of the selected site
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: |-
            {
                "code": " String ",
                "message": " String ",
                "data": {
                    "installer": " String ",
                     " orgCode": " String "
                }
            }

            {
                "code": "200",
                "message": "SUCCESS",
                "data": {
                    "installer": "perm001",
                    "orgCode": "CN002U39FH"
                }
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: /hess/api/site/{siteId}/siteInstaller
        Method: get
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            description: Site ID
          description: Site ID
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/site/123/siteInstaller?userToken=1&userType=1
      x-response-fields:
        - Parameter: installer
          Type: String
          Length: '128'
          Description: Installer company name of the selected site
          Mandatory: ''
          constraint: ''
        - Parameter: orgCode
          Type: String
          Length: ''
          Description: Installation vendor organization code
          Mandatory: ''
          constraint: ''
        - Parameter: message
          Type: string
          Length: '64'
          Description: Message code - SUCCESS - FAIL；
          Mandatory: ''
          constraint: ''
        - Parameter: code
          Type: String
          Length: '64'
          Description: http/https response code - 200 ok； - 201 Created； - 401
            Unauthorized； - 403 Forbidden； - 404 Not Found
          Mandatory: ''
          constraint: ''
  /hess/api/site/{siteId}/overview:
    get:
      tags:
        - Sites
      summary: Site generation overview
      operationId: siteGenerationOverview
      description: Return generation review of selected site, including site
        name，amount of online equipment, latest updated timestamp, power, daily
        generation, monthly generation, yearly generation, lifetime generation,
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: |-
            {
                "code": " String ",
                "message": " String ",
                "data": {
                    "id": " String ",
                    "name": " String ",
                    "onlineDevice": "String",
                    "currentPower": " String ",
                    "eoutCurrentYear": " String",
                    "eoutDaily": " String ",
                    "eoutMonth": " String ",
                    "updateTime": " Sting ",
                    "etotalToGrid": " String "
                }
            }

            {
                "code": "200",
                "message": "SUCCESS",
                "data": {
                    "id": "3",
                    "name": "test",
                    "onlineDevice": "1",
                    "currentPower": "0.0",
                    "eoutCurrentYear": "22493.575",
                    "eoutDaily": "62.693",
                    "eoutMonth": "2849.941",
                    "updateTime": "1655769319674",
                    "etotalToGrid": "22493.575"
                }
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: /hess/api/site/{siteId}/overview
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            description: Site ID
          description: Site ID
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/site/123/overview?userToken=1&userType=1
      x-response-fields:
        - Parameter: name
          Type: String
          Length: '64'
          Description: Site name
          Mandatory: ''
          constraint: ''
        - Parameter: onlineDevice
          Type: String
          Length: '256'
          Description: Amount of online equipment
          Mandatory: ''
          constraint: ''
        - Parameter: updateTime
          Type: String
          Length: '13'
          Description: Latest updated timestamp
          Mandatory: ''
          constraint: ''
        - Parameter: currentPower
          Type: String
          Length: '256'
          Description: Real-time power
          Mandatory: ''
          constraint: 'Unit: kW'
        - Parameter: eoutDaily
          Type: String
          Length: '256'
          Description: Daily generation
          Mandatory: ''
          constraint: 'Unit: kWh'
        - Parameter: eoutMonth
          Type: String
          Length: '256'
          Description: Monthly generation
          Mandatory: ''
          constraint: 'Unit: kWh'
        - Parameter: eoutCurrentYear
          Type: String
          Length: '256'
          Description: Annual generation
          Mandatory: ''
          constraint: 'Unit: kWh'
        - Parameter: eTotalToGrid
          Type: String
          Length: '256'
          Description: Lifetime generation
          Mandatory: ''
          constraint: 'Unit: kWh'
        - Parameter: 'message:'
          Type: string
          Length: '64'
          Description: Message code - SUCCESS - FAIL；
          Mandatory: ''
          constraint: ''
        - Parameter: code
          Type: String
          Length: '10'
          Description: http/https response code - 200 ok； - 201 Created； - 401
            Unauthorized； - 403 Forbidden； - 404 Not Found
          Mandatory: ''
          constraint: ''
  /hess/api/site/{siteId}/HisPowerflow:
    get:
      tags:
        - Sites
      summary: Site Historical Power Flow
      operationId: siteHistoricalPowerFlow
      description: |-
        Query the energy flow of the specified site to obtain the update timestamp, status of each system type, parameter unit (W) and value in selected time duration:

        Reques by site ID. and time duration *When there is no internal and external electricity meter connected in the system, there is no return value of the power grid. *start time should be within recent 7 days.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: |-
            {
                "code": " String ",
                "message": " String ",
                "data": {
                    "Long": [
                        {
                            "pvStatus": “String”,
                            "pvPower": " String ",
                            "powerGridStatus": “String”,
                            "powerGridPower": " String ",
                            "loadStatus": " String ",
                            "loadPower": " String ",
                            "energyStatus": " String ",
                            "energyPower": " String ",
                            "energySoc": " String ",
                            "chargingPileStatus": “String”,
                            "chargingPilePower": “String”,
                            "timestamp": “Long”
                        }
                    ]
                }
            }

            {
                "code": "200",
                "message": "SUCCESS",
                "data": {
                    "1655510400000": [
                        {
                            "pvStatus": null,
                            "pvPower": "2.953",
                            "powerGridStatus": "Importing",
                            "powerGridPower": "2.743",
                            "loadStatus": "consuming",
                            "loadPower": "0.061",
                            "energyStatus": "idel",
                            "energyPower": "0.0",
                            "energySoc": "100.0",
                            "chargingPileStatus": null,
                            "chargingPilePower": null,
                            "timestamp": 1655510400000
                        }
                    ]
                }
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: /hess/api/site/{siteId}/HisPowerflow
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            description: Site ID
          description: Site ID
        - name: pointInterval
          in: query
          required: true
          schema:
            type: integer
            format: int32
            description: Sampling accuracy 0- Every 5 minutes 1- Every 10
              minutes(default)（No） 2- Every 15 minutes（No）
          description: Sampling accuracy 0- Every 5 minutes 1- Every 10
            minutes(default)（No） 2- Every 15 minutes（No）
        - name: startTime
          in: query
          required: true
          schema:
            type: integer
            format: int64
            description: Start time for query, which should be in recent 7 daysTimestamp:13
          description: Start time for query, which should be in recent 7 daysTimestamp:13
        - name: endTime
          in: query
          required: true
          schema:
            type: integer
            format: int64
            description: End up time for query
          description: End up time for query
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/site/123/HisPowerflow?pointInterval
        =1&startTime=1659710500000&endTime=1659750500000&userType=1
      x-response-fields:
        - Parameter: energyStatus
          Type: String
          Length: '64'
          Description: Battery working status - charging； - disCharging - idel
          Mandatory: ''
          constraint: ''
        - Parameter: energyPower
          Type: String
          Length: '10'
          Description: Bettery working power
          Mandatory: ''
          constraint: 'Unit: kW'
        - Parameter: energySoc
          Type: String
          Length: '64'
          Description: Battery SoC
          Mandatory: ''
          constraint: 'Unit: %'
        - Parameter: pvStatus
          Type: String
          Length: '265'
          Description: PV working status -generating； -offline
          Mandatory: ''
          constraint: Under developing
        - Parameter: pvPower
          Type: String
          Length: '265'
          Description: PV generating power
          Mandatory: ''
          constraint: 'Unit: kW'
        - Parameter: powerGridStatus
          Type: String
          Length: '64'
          Description: Power grid working status - Importing - exporting
          Mandatory: ''
          constraint: ''
        - Parameter: powerGridPower
          Type: String
          Length: '265'
          Description: Power grid working power
          Mandatory: ''
          constraint: 'Unit: kW'
        - Parameter: loadStatus
          Type: String
          Length: '64'
          Description: Load working status - consuming - idel
          Mandatory: ''
          constraint: ''
        - Parameter: loadPower
          Type: String
          Length: '265'
          Description: Load consuming power
          Mandatory: ''
          constraint: 'Unit: kW'
        - Parameter: chargingPileStatus
          Type: String
          Length: '64'
          Description: EV charger working status - available - EV：Charging
          Mandatory: ''
          constraint: Under developing
        - Parameter: chargingPilePower
          Type: String
          Length: '265'
          Description: EV charger charging power
          Mandatory: ''
          constraint: 'Unit: kW Under developing'
        - Parameter: timestamp
          Type: Long
          Length: '13'
          Description: Timestamp of data updating
          Mandatory: ''
          constraint: ''
        - Parameter: message
          Type: String
          Length: '265'
          Description: Message code - SUCCESS - FAIL；
          Mandatory: ''
          constraint: ''
        - Parameter: code
          Type: String
          Length: '13'
          Description: http/https response code - 200 ok； - 201 Created； - 401
            Unauthorized； - 403 Forbidden； - 404 Not Found
          Mandatory: ''
          constraint: ''
  /hess/api/site/{siteId}/power:
    get:
      tags:
        - Sites
      summary: Site Historical Active Power
      operationId: siteHistoricalActivePower
      description: Query the historical power of the specified site to obtain the
        update timestamp, power value and unit (W) in selected time duration
        *start time should be within recent 7 days.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: |-
            {
                "code": " String ",
                "message": " String ",
                "data": {
                    "Long": [
                        {
                            "power": “String”,
                            "timestamp": “Long”
                        },
                    ]
                }
            }

            {
                "code": "200",
                "message": "SUCCESS",
                "data": {
                    "1655510400000": [
                        {
                            "power": "100.0",
                            "timestamp": 1655510400000
                        },
                    ]
                }
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: /hess/api/site/{siteId}/power
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            description: Site ID
          description: Site ID
        - name: pointInterval
          in: query
          required: true
          schema:
            type: integer
            format: int32
            description: Sampling accuracy 0- Every 5 minutes 1- Every 10 minutes（No） 2-
              Every 15 minutes（No）
          description: Sampling accuracy 0- Every 5 minutes 1- Every 10 minutes（No） 2-
            Every 15 minutes（No）
        - name: startTime
          in: query
          required: true
          schema:
            type: integer
            format: int64
            description: Start time for query, which should be in recent 7 days
          description: Start time for query, which should be in recent 7 days
        - name: endTime
          in: query
          required: true
          schema:
            type: integer
            format: int64
            description: End up time for query
          description: End up time for query
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/site/123/power?pointInterval
        =1&startTime=1659102500000&endTime=1659202500000&userType=1
      x-response-fields:
        - Parameter: power
          Type: String
          Length: '64'
          Description: Power generation of the updated time
          Mandatory: ''
          constraint: 'Unit: kW'
        - Parameter: timestamp
          Type: Long
          Length: '10'
          Description: Timestamp of data updating
          Mandatory: ''
          constraint: ''
        - Parameter: message
          Type: String
          Length: '2566'
          Description: Message code - SUCCESS - FAIL；
          Mandatory: ''
          constraint: ''
        - Parameter: code
          Type: String
          Length: '13'
          Description: http/https response code - 200 ok； - 201 Created； - 401
            Unauthorized； - 403 Forbidden； - 404 Not Found
          Mandatory: ''
          constraint: ''
  /hess/api/device/{siteId}/{serialNumber}/alarm:
    get:
      tags:
        - Devices
      summary: Device Historical Alarm
      operationId: deviceHistoricalAlarm
      description: Search device alarm logs in recent 7 days by device SN.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: |-
            {
                "code": " String ",
                "message": " String ",
                "data": {
                    "list": [
                        {
                            "alarmCode": " String ",
                            "alarmName": " String ",
                            "alarmEvent": " String ",
                            "alarmStatus": “String”,
                            "alarmType": " String ",
                            "originTime": “Long”,
                            "deviceType": " String "
                        }
                    ],
                    "count": “Integer”
                }
            }

            {
                "code": "200",
                "message": "SUCCESS",
                "data": {
                    "list": [
                        {
                            "alarmCode": "Grid voltage high action(0.0 0.0 0.0 0.00 0.00 0.00 208.0 117.8 0.0 0.0 0 0 0)",
                            "alarmName": "Grid AC over voltage",
                            "alarmEvent": "Grid AC over voltage",
                            "alarmStatus": null,
                            "alarmType": "0",
                            "originTime": 1655757708000,
                            "deviceType": "2_19"
                        }
                    ],
                    "count": 1
                }
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: /hess/api/device/{siteId}/{serialNumber}/alarm
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            description: Site ID
          description: Site ID
        - name: serialNumber
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: Device SN
          description: Device SN
        - name: size
          in: query
          required: true
          schema:
            type: integer
            format: int32
            description: Pagesize of each page, -5 -10 (default) -30
          description: Pagesize of each page, -5 -10 (default) -30
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
            description: The first site index to be returned in the results, default=0
          description: The first site index to be returned in the results, default=0
        - name: startTime
          in: query
          required: true
          schema:
            type: string
            description: Start time for query, which should be in recent 7 dayse.g.
              2022-01-01
          description: Start time for query, which should be in recent 7 dayse.g. 2022-01-01
        - name: endTime
          in: query
          required: true
          schema:
            type: string
            description: End up time for querye.g. 2022-01-07
          description: End up time for querye.g. 2022-01-07
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/site/123/SN10203/alarm?startTime=2022-01-01&endTime=2022-01-07&page=1&size=10&userToken=*****&userType=1
      x-response-fields:
        - Parameter: alarmEvent
          Type: String
          Length: '1024'
          Description: Alarm code
          Mandatory: ''
          constraint: For internal use
        - Parameter: alarmStatus
          Type: String
          Length: '32'
          Description: Alarm Status （No） - Active - inactive
          Mandatory: ''
          constraint: Under developing
        - Parameter: alarmCode
          Type: String
          Length: '256'
          Description: Alarm code
          Mandatory: ''
          constraint: ''
        - Parameter: alarmName
          Type: String
          Length: '256'
          Description: Alarm description, such as “AC Voltage High”
          Mandatory: ''
          constraint: ''
        - Parameter: alarmType
          Type: String
          Length: '32'
          Description: 'Alarm type: - Notice - fault'
          Mandatory: ''
          constraint: ''
        - Parameter: originTime
          Type: Long
          Length: '13'
          Description: '- Alarm timestamp'
          Mandatory: ''
          constraint: ''
        - Parameter: deviceType
          Type: String
          Length: '32'
          Description: '- Device type'
          Mandatory: ''
          constraint: ''
        - Parameter: code
          Type: String
          Length: ''
          Description: http/https response code - 200 ok； - 201 Created； - 401
            Unauthorized； - 403 Forbidden； - 404 Not Found
          Mandatory: ''
          constraint: ''
        - Parameter: message
          Type: String
          Length: ''
          Description: Message code - SUCCESS； - FAIL；
          Mandatory: ''
          constraint: ''
        - Parameter: count
          Type: Integer
          Length: ''
          Description: ''
          Mandatory: ''
          constraint: ''
  /hess/api/site/{siteId}/socialContr:
    get:
      tags:
        - Sites
      summary: Site Social Contribution
      operationId: siteSocialContribution
      description: Return site social contribution of last update time, CO2 reduce,
        Equivalent tree planting and standard coal reduced.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: |-
            {
                "code": " String ",
                "message": " String ",
                "data": {
                    "savingCoal": " String ",
                    "savingCO2": " String ",
                    "savingTree": " String ",
                    "date": "Long"
                }
            }

            {
                "code": "200",
                "message": "SUCCESS",
                "data": {
                    "savingCoal": "17658.69",
                    "savingCO2": "22427.67",
                    "savingTree": "3509.24",
                    "date": "1655769319674"
                }
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: /hess/api/site/{siteId}/socialContr
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/site/{siteId}/socialContr?userToken=1&userType=1
      x-response-fields:
        - Parameter: date
          Type: Long
          Length: '13'
          Description: Latest data update time
          Mandatory: ''
          constraint: ''
        - Parameter: savingCO2
          Type: String
          Length: '32'
          Description: CO2 reduce
          Mandatory: ''
          constraint: tons
        - Parameter: savingTree
          Type: String
          Length: '32'
          Description: Equivalent tree planting
          Mandatory: ''
          constraint: Pieces
        - Parameter: savingCoal
          Type: String
          Length: '32'
          Description: standard coal reduce
          Mandatory: ''
          constraint: tons
        - Parameter: code
          Type: String
          Length: ''
          Description: http/https response code - 200 ok； - 201 Created； - 401
            Unauthorized； - 403 Forbidden； - 404 Not Found
          Mandatory: ''
          constraint: ''
        - Parameter: message
          Type: String
          Length: ''
          Description: Message code - SUCCESS； - FAIL；
          Mandatory: ''
          constraint: ''
  /hess/api/site/{siteId}/ESS:
    get:
      tags:
        - Sites
      summary: Storage Information
      operationId: storageInformation
      description: Query the information of the energy storage battery in the
        specified site to obtain the BAT capacity, BMS SN, current SOC/voltage,
        battery type, and power / voltage / SOC in recent 7 days, and daily
        charge and discharge capacity in recent 7 days.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: |-
            { "data": {
                    " BMSCapacity ": " String ",
                    "batterySn": " String ",
                    "currentSoc": " String ",
                    "cycleCount": " Integer ",
                    "batteryTypeList": [
                        {
                            "deviceId": “Integer”,
                            "deviceSn":  " String ",
                            "batteryType":  " String "
                        }
                    ],
                    "historyMap": {
                       "timestamp：Long": [
                            {
                                "energyPower":  " String ",
                                "energySoc":  " String ",
                                "energyVolage":  " String ",
                                "charge":  " String ",
                                "discharge":  " String ",
                                "time": “Long”
                            }
            }
            }
            ，
              " message ": "string",
              " code ": "string",
            }
            {
                "code": "200",
                "message": "SUCCESS",
                "data": {
                    " BMSCapacity ": "1111.0",
                    "batterySn": null,
                    "currentSoc": "0",
                    "cycleCount": null,
                    "batteryTypeList": [
                        {
                            "deviceId": 195,
                            "deviceSn": "test-42-GF3k0003",
                            "batteryType": null
                        },
                        {
                            "deviceId": 199,
                            "deviceSn": "1234567890121212",
                            "batteryType": null
                        }
                    ],
                    "historyMap": {
                        "1657584000000": [
                            {
                                "energyPower": null,
                                "energySoc": null,
                                "energyVolage": null,
                                "charge": null,
                                "discharge": null,
                                "time": 1657584000000
                            }
            }
            }
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: hess/api/site/{siteId}/ESS
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            description: Site ID
          description: Site ID
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/site/527/ESS?userToken=1&userType=1
      x-response-fields:
        - Parameter: message
          Type: string
          Length: ''
          Description: Message code - SUCCESS； - FAIL；
          Mandatory: ''
          constraint: ''
        - Parameter: code
          Type: Int
          Length: ''
          Description: http/https response code - 200 ok； - 201 Created； - 401
            Unauthorized； - 403 Forbidden - 404 Not Found
          Mandatory: ''
          constraint: ''
        - Parameter: BMSCapacity
          Type: String
          Length: '20'
          Description: Battery Capacity (from BMS)
          Mandatory: ''
          constraint: Unit：Ah
        - Parameter: batterySn
          Type: String
          Length: '32'
          Description: BMS SN
          Mandatory: ''
          constraint: underdeveloping
        - Parameter: cycleCount
          Type: Integer
          Length: '20'
          Description: Battery cycle count
          Mandatory: ''
          constraint: underdeveloping
        - Parameter: deviceId
          Type: Integer
          Length: '32'
          Description: Device ID of BMS
          Mandatory: ''
          constraint: ''
        - Parameter: deviceSn
          Type: String
          Length: '32'
          Description: Serial number of BMS
          Mandatory: ''
          constraint: ''
        - Parameter: batteryType
          Type: String
          Length: '20'
          Description: 'Battery Type 0：No battery 1：LIVOLTEK Low voltage lithium battery
            2：Lithium 3：Other Li-ion without BMS 4：LFP15 without BMS 5：LFP16
            without BMS 10：AGM 11：FLD 12：USER 13：Li2 14：Li4 100:
            Lead-acid(AGM/Flooded/Gel) 101：LIVOLTEK'
          Mandatory: ''
          constraint: ''
        - Parameter: energyPower
          Type: String
          Length: '20'
          Description: Battery power
          Mandatory: ''
          constraint: ''
        - Parameter: energySoc
          Type: String
          Length: '20'
          Description: Battery SoC
          Mandatory: ''
          constraint: ''
        - Parameter: energyVolage
          Type: String
          Length: '20'
          Description: Battery voltage
          Mandatory: ''
          constraint: ''
        - Parameter: charge
          Type: String
          Length: '20'
          Description: Charging energy
          Mandatory: ''
          constraint: ''
        - Parameter: discharge
          Type: String
          Length: '20'
          Description: Discharging energy
          Mandatory: ''
          constraint: ''
        - Parameter: time
          Type: Long
          Length: '20'
          Description: Time stamp
          Mandatory: ''
          constraint: 'Unit: ms'
  /hess/api/device/{siteId}/{serialNumber}/details:
    get:
      tags:
        - Devices
      summary: Device Details
      operationId: deviceDetails
      description: Query the equipment information of the specified device to obtain
        the device model, SN, working condition (offline, normal, fault, etc.)
        and its update time, firmware version, device type and manufacturer.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: |-
            {
                "code": " String ",
                "message": " String ",
                "data": {
                    "id": “Integer”,
                    " productType ":" String ",
                    "inverterSn":" String ",
                    "collectorSn":" String ",
                    " runningStatusVoMap": {
                        "timestamp：Long": [
                            {
                                " runningStatus ": " String ",
                                "updateTime": “Long”
                            }
            ]
                    },
                    "firmwareVersion": " String ",
                    " deviceType ": " String ",
                    "deviceManufacturer": " String ",
                }
            }

             {
                "code": "200",
                "message": "SUCCESS",
                "data": {
                    "id": null,
                    " productType ": "inverter",
                    "inverterSn": null,
                    "collectorSn": null,
                    " runningStatusVoMap ": {
                        "1658102400000": [
                            {
                                " runningStatus ": null,
                                "updateTime": 1658102400000
                            }
            ]
                    },
                    "firmwareVersion": null,
                    " deviceType ": null,
                    "deviceManufacturer": "LIVOLTEK"
                }
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: hess/api/device/{siteId}/{serialNumber}/details
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            description: Site ID
          description: Site ID
        - name: serialNumber
          in: path
          required: true
          schema:
            type: string
            description: Device serial number
          description: Device serial number
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/device/527/SN123456/details?userToken=1&userType=1
      x-response-fields:
        - Parameter: message
          Type: String
          Length: ''
          Description: Message code - SUCCESS； - FAIL；
          Mandatory: ''
          constraint: ''
        - Parameter: code
          Type: String
          Length: ''
          Description: http/https response code - 200 ok； - 201 Created； - 401
            Unauthorized； - 403 Forbidden； - 404 Not Found
          Mandatory: ''
          constraint: ''
        - Parameter: id
          Type: Integer
          Length: '64'
          Description: Device ID
          Mandatory: ''
          constraint: ''
        - Parameter: productType
          Type: String
          Length: '20'
          Description: Product Type
          Mandatory: ''
          constraint: ''
        - Parameter: inverterSn
          Type: String
          Length: '64'
          Description: Device serial number
          Mandatory: ''
          constraint: ''
        - Parameter: collectorSn
          Type: String
          Length: '64'
          Description: Device serial number
          Mandatory: ''
          constraint: Under developing
        - Parameter: runningStatus
          Type: String
          Length: '10'
          Description: Device Runing status 0：Normal 1：Standby 2：Fault 3：Offline
            4：Self-test 5：Upgrading
          Mandatory: ''
          constraint: ''
        - Parameter: updateTime
          Type: Long
          Length: '32'
          Description: Last update time
          Mandatory: ''
          constraint: 'Unit: ms'
        - Parameter: firmwareVersion
          Type: String
          Length: '32'
          Description: Firmware version
          Mandatory: ''
          constraint: ''
        - Parameter: deviceType
          Type: String
          Length: '64'
          Description: 'Device type: inverter(default)'
          Mandatory: ''
          constraint: ''
        - Parameter: deviceManufacturer
          Type: String
          Length: '64'
          Description: manufacturer
          Mandatory: ''
          constraint: Livoltek (default)
  /hess/api/device/{siteId}/{serialNumber}/realTime:
    get:
      tags:
        - Devices
      summary: Device technical parameters in recent 7 days
      operationId: deviceTechnicalParametersInRecent7Days
      description: Query the real-time technical parameter data of the specified
        equipment to obtain the real-time data of the corresponding equipment,
        data update time and value, including the current / voltage of each
        MPPT, the voltage / current of three-phase power grid, power grid
        frequency, active power of power grid, apparent power of power grid,
        etc. *in recent 7 days. *Data interval is 5 minutes.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: |-
            {
                "code": " String",
                "message": " String ",
                "data": {
                    "timestamp：Long": [
                        {
                            "p1Voltage": " String",
                            "p1Current": " String",
                            "p2Voltage": " String",
                            "p2Current": " String",
                            "p3Voltage": " String",
                            "p3Current":" String",
                            "p4Voltage":" String",
                            "p4Current": " String",
                            "p5Voltage":" String",
                            "p5Current": " String",
                            "p6Voltage": " String",
                            "p6Current": " String",
                            "p7Voltage": " String",
                            "p7Current": " String",
                            "p8Voltage": " String",
                            "p8Current": " String",
                            "p9Voltage": " String",
                            "p9Current": " String",
                            "p10Voltage":" String",
                            "p10Current": " String",
                            "p11Voltage": " String",
                            "p11Current": " String",
                            "p12Voltage": " String",
                            "p12Current": " String",
                            "dwActivePower": " String",
                            "dwApparentPower": " String",
                            "girdFrequency":" String",
                            "batteryVoltage": " String",
                            "batteryCurrent": " String",
                            "batterySoc": " String",
                            "epsCurrent":" String",
                            "epsVoltage": " String",
                            "epsFrequency": " String",
                            "timestamp": “Long”,
                            "rvoltage":" String",
                            "svoltage": " String",
                            "tvoltage":" String",
                            "rcurrent": " String",
                            "scurrent":" String",
                            "tcurrent": " String",
                        }
                    ]
                }
            }

            {
                "code": "200",
                "message": "SUCCESS",
                "data": {
                    "1657756800000": [
                        {
                            "p1Voltage": null,
                            "p1Current": null,
                            "p2Voltage": "1000",
                            "p2Current": null,
                            "p3Voltage": null,
                            "p3Current": null,
                            "p4Voltage": null,
                            "p4Current": null,
                            "p5Voltage": null,
                            "p5Current": null,
                            "p6Voltage": null,
                            "p6Current": null,
                            "p7Voltage": null,
                            "p7Current": null,
                            "p8Voltage": null,
                            "p8Current": null,
                            "p9Voltage": null,
                            "p9Current": null,
                            "p10Voltage": null,
                            "p10Current": null,
                            "p11Voltage": null,
                            "p11Current": null,
                            "p12Voltage": null,
                            "p12Current": null,
                            "dwActivePower": null,
                            "dwApparentPower": null,
                            "girdFrequency": null,
                            "batteryVoltage": null,
                            "batteryCurrent": null,
                            "batterySoc": null,
                            "epsCurrent": null,
                            "epsVoltage": null,
                            "epsFrequency": null,
                            "timestamp": 152988938059000,
                            "rvoltage": null,
                            "svoltage": null,
                            "tvoltage": null,
                            "rcurrent": null,
                            "scurrent": null,
                            "tcurrent": null
                        }
                    ],
                    "1657584000000": [],
                    "1657843200000": [],
                    "1658016000000": [],
                    "1658102400000": [],
                    "1657670400000": [],
                    "1657929600000": [],
                    "1657497600000": []
                }
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: hess/api/device/{siteId}/{serialNumber}/realTime
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            description: Site ID
          description: Site ID
        - name: serialNumber
          in: path
          required: true
          schema:
            type: string
            description: Device serial number
          description: Device serial number
        - name: startTime
          in: query
          required: false
          schema:
            type: string
            description: Start time2025-01-18 00:00:00
          description: Start time2025-01-18 00:00:00
        - name: endTime
          in: query
          required: false
          schema:
            type: string
            description: End time2025-01-18 23:59:59
          description: End time2025-01-18 23:59:59
      x-doc-request-example: |-
        https://api.livoltek-portal.com:8081/hess/api/device/527/SN123456/realTime?userToken=1&userType=1 &startTime=2025-01-18 00:00:00&endTime=2025-01-18 23:59:59
           https://api-eu.livoltek-portal.com:8081/hess/api/device/527/SN123456/realTime?userToken=1&userType=1 &startTime=2025-01-18 00:00:00&endTime=2025-01-18 23:59:59
      x-response-fields:
        - Parameter: message
          Type: String
          Length: ''
          Description: Message code - SUCCESS； - FAIL；
          Mandatory: ''
          constraint: ''
        - Parameter: code
          Type: String
          Length: ''
          Description: http/https response code - 200 ok； - 201 Created； - 401
            Unauthorized； - 403 Forbidden； - 404 Not Found
          Mandatory: ''
          constraint: ''
        - Parameter: p1Voltage
          Type: String
          Length: '20'
          Description: Voltage of PV1
          Mandatory: ''
          constraint: ''
        - Parameter: p1Current
          Type: String
          Length: '20'
          Description: Current of PV1
          Mandatory: ''
          constraint: ''
        - Parameter: p2Voltage
          Type: String
          Length: '20'
          Description: Voltage of PV2
          Mandatory: ''
          constraint: ''
        - Parameter: p2Current
          Type: String
          Length: '20'
          Description: Current of PV2
          Mandatory: ''
          constraint: ''
        - Parameter: p3Voltage
          Type: String
          Length: '20'
          Description: Voltage of PV3
          Mandatory: ''
          constraint: ''
        - Parameter: p3Current
          Type: String
          Length: '20'
          Description: Current of PV3
          Mandatory: ''
          constraint: ''
        - Parameter: p4Voltage
          Type: String
          Length: '20'
          Description: Voltage of PV4
          Mandatory: ''
          constraint: ''
        - Parameter: p4Current
          Type: String
          Length: '20'
          Description: Current of PV4
          Mandatory: ''
          constraint: ''
        - Parameter: p5Voltage
          Type: String
          Length: '20'
          Description: Voltage of PV5
          Mandatory: ''
          constraint: ''
        - Parameter: p5Current
          Type: String
          Length: '20'
          Description: Current of PV5
          Mandatory: ''
          constraint: ''
        - Parameter: p6Voltage
          Type: String
          Length: '20'
          Description: Voltage of PV6
          Mandatory: ''
          constraint: ''
        - Parameter: p6Current
          Type: String
          Length: '20'
          Description: Current of PV6
          Mandatory: ''
          constraint: ''
        - Parameter: p7Voltage
          Type: String
          Length: '20'
          Description: Voltage of PV7
          Mandatory: ''
          constraint: ''
        - Parameter: p7Current
          Type: String
          Length: '20'
          Description: Current of PV7
          Mandatory: ''
          constraint: ''
        - Parameter: p8Voltage
          Type: String
          Length: '20'
          Description: Voltage of PV8
          Mandatory: ''
          constraint: ''
        - Parameter: p8Current
          Type: String
          Length: '20'
          Description: Current of PV8
          Mandatory: ''
          constraint: ''
        - Parameter: p9Voltage
          Type: String
          Length: '20'
          Description: Voltage of PV9
          Mandatory: ''
          constraint: ''
        - Parameter: p9Current
          Type: String
          Length: '20'
          Description: Current of PV9
          Mandatory: ''
          constraint: ''
        - Parameter: p10Voltage
          Type: String
          Length: '20'
          Description: Voltage of PV10
          Mandatory: ''
          constraint: ''
        - Parameter: p10Current
          Type: String
          Length: '20'
          Description: Current of PV10
          Mandatory: ''
          constraint: ''
        - Parameter: p11Voltage
          Type: String
          Length: '20'
          Description: Voltage of PV11
          Mandatory: ''
          constraint: ''
        - Parameter: p11Current
          Type: String
          Length: '20'
          Description: Current of PV11
          Mandatory: ''
          constraint: ''
        - Parameter: p12Voltage
          Type: String
          Length: '20'
          Description: Voltage of PV12
          Mandatory: ''
          constraint: ''
        - Parameter: p12Current
          Type: String
          Length: '20'
          Description: Current of PV12
          Mandatory: ''
          constraint: ''
        - Parameter: rVoltage
          Type: String
          Length: '20'
          Description: Phase A voltage of inverter AC interface
          Mandatory: ''
          constraint: ''
        - Parameter: rCurrent
          Type: String
          Length: '20'
          Description: PhaseB voltage of inverter AC interface
          Mandatory: ''
          constraint: ''
        - Parameter: sVoltage
          Type: String
          Length: '20'
          Description: Phase C voltage of inverter AC interface
          Mandatory: ''
          constraint: ''
        - Parameter: sCurrent
          Type: String
          Length: '20'
          Description: Phase A current of inverter AC interface
          Mandatory: ''
          constraint: ''
        - Parameter: tVoltage
          Type: String
          Length: '20'
          Description: Phase B current of inverter AC interface
          Mandatory: ''
          constraint: ''
        - Parameter: tCurrent
          Type: String
          Length: '20'
          Description: Phase C current e of inverter AC interface
          Mandatory: ''
          constraint: ''
        - Parameter: dwActivePower
          Type: String
          Length: '20'
          Description: Grid active power
          Mandatory: ''
          constraint: ''
        - Parameter: dwApparentPower
          Type: String
          Length: '20'
          Description: Grid apparent power
          Mandatory: ''
          constraint: ''
        - Parameter: girdFrequency
          Type: String
          Length: '20'
          Description: Grid frequency
          Mandatory: ''
          constraint: ''
        - Parameter: batteryVoltage
          Type: String
          Length: '20'
          Description: BMS voltage
          Mandatory: ''
          constraint: ''
        - Parameter: batteryCurrent
          Type: String
          Length: '20'
          Description: BMS current
          Mandatory: ''
          constraint: ''
        - Parameter: batterySoc
          Type: String
          Length: '20'
          Description: BMS SoC
          Mandatory: ''
          constraint: ''
        - Parameter: epsCurrent
          Type: String
          Length: '20'
          Description: EPS current (apply for hybrid)
          Mandatory: ''
          constraint: ''
        - Parameter: epsVoltage
          Type: String
          Length: '20'
          Description: EPS voltage (apply for hybrid)
          Mandatory: ''
          constraint: ''
        - Parameter: epsFrequency
          Type: String
          Length: '20'
          Description: EPS frequency (apply for hybrid)
          Mandatory: ''
          constraint: ''
        - Parameter: timestamp
          Type: Long
          Length: '20'
          Description: timestamp
          Mandatory: ''
          constraint: ''
  /hess/api/site/{siteId}/solarEnergy:
    get:
      tags:
        - Sites
      summary: Site historical solar generation in recent 2 years
      operationId: siteHistoricalSolarGenerationInRecent2Years
      description: 'Query for site historical solar generation in specific time
        interval, including every day’s generation in the specified time period,
        with the unit of daily / weekly / monthly *Limit: 1)When the unit is day
        / week, the start and end time should be within the past two years,
        2)the interval (from start to end time)should not exceed 31 days with
        the unit “ day”, 3)the interval should not exceed 180 days with the unit
        “week”;'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeArrayData'
          x-doc-response-example: |-
            {
                "code": " String ",
                "message": " String ",
                "data": {
                    [{
                        "siteId": "siteId",
                        "powerGeneration":"String",
                        "ts":"String"
                    }]
                }
            }
            {
                "code": "200",
                "message": "SUCCESS",
                "data": [
                    {
                        "siteId": "527",
                        "ts": "20220701~20220703",
                        " powerGeneration ": null
                    },
                    {
                        "siteId": "527",
                        "ts": "20220704~20220710",
                        " powerGeneration ": null
                    },
                    {
                        "siteId": "527",
                        "ts": "20220711~20220717",
                        " powerGeneration ": null
                    },
                    {
                        "siteId": "527",
                        "ts": "20220718~20220724",
                        " powerGeneration ": "69.9"
                    },
                    {
                        "siteId": "527",
                        "ts": "20220725~20220730",
                        " powerGeneration ": "25.0"
                    }
                ]
            }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: hess/api /site/{siteId}/solarEnergy
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            description: Site ID
          description: Site ID
        - name: startTime
          in: query
          required: true
          schema:
            type: string
            description: Start timee.g.20220726
          description: Start timee.g.20220726
        - name: endTime
          in: query
          required: true
          schema:
            type: string
            description: End timee.g.20220726
          description: End timee.g.20220726
        - name: timeType
          in: query
          required: true
          schema:
            type: string
            description: 'Time interval type 0：day 1: week 2: month 3: year'
          description: 'Time interval type 0：day 1: week 2: month 3: year'
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
            description: The first site index to be returned in the results, default=1
          description: The first site index to be returned in the results, default=1
        - name: size
          in: query
          required: true
          schema:
            type: integer
            format: int32
            description: Pagesize of each page, - 5 -10 (default) -30
          description: Pagesize of each page, - 5 -10 (default) -30
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/site/527/SN123456？userToken=1&startTime=20220726&endTime=20220726&timeType=3&userType=1&page=1&size=10
      x-response-fields:
        - Parameter: message
          Type: String
          Length: '10'
          Description: Message code - SUCCESS； - FAIL；
          Mandatory: ''
          constraint: ''
        - Parameter: code
          Type: String
          Length: '10'
          Description: http/https response code - 200 ok； - 201 Created； - 401
            Unauthorized； - 403 Forbidden； - 404 Not Found
          Mandatory: ''
          constraint: ''
        - Parameter: siteId
          Type: String
          Length: '32'
          Description: Site ID
          Mandatory: ''
          constraint: ''
        - Parameter: powerGeneration
          Type: String
          Length: '32'
          Description: olar generation
          Mandatory: ''
          constraint: ''
        - Parameter: ts
          Type: String
          Length: '20'
          Description: Date
          Mandatory: ''
          constraint: timeType = 0,e.g.20220301 timeType = 1,e.g.20220301~20220307
            timeType = 2,,e.g.202203 timeType = 3,,e.g.2022
  /hess/api/site/{siteId}/utilityEnergy:
    get:
      tags:
        - Sites
      summary: Site historical grid import&export in recent 2 years
      operationId: siteHistoricalGridImportExportInRecent2Years
      description: 'Query the historical grid energy of the specified site, query the
        historical total solar generation(Wh), grid import energy(Wh), grid
        export energy(Wh) in the specified time period, with the unit of daily /
        weekly / monthly *Limit: 1)When the unit is day / week, the start and
        end time should be within the past two years, 2)the interval (from start
        to end time)should not exceed 31 days with the unit “ day”, 3)the
        interval should not exceed 180 days with the unit “week”;'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: "{

            \t\"data\":{

            \        “historyList”:[ {

            \            \" positive \": \" string \",

            \            \" negetive \": \" string \",

            \            \" ts \": \" string \",

            \            \"siteId\": \" string \",


            \        }],

            \        \"etotalToGrid\": {

            \            \"siteId\": \" string \",

            \            \"ts\": \" string \",

            \            \" powerGeneration \": \" string \"

            \        }


            \    }, \ 

            \    \"message\": \"string\",

            \    \"msgCode\": \"string\",

            }


            {

            \    \"code\": \"200\",

            \    \"message\": \"SUCCESS\",

            \    \"data\": {

            \        \"historyList\": [

            \            {

            \                \"siteId\": \"527\",

            \                \"ts\": \"20220724~20220725\",

            \                \"positive\": \"0.0\",

            \                \"negative\": \"0.0\"

            \            }

            \        ],

            \        \" etotalToGrid \": {

            \            \"siteId\": \"527\",

            \            \"ts\": \"20220724~20220725\",

            \            \" powerGeneration \": \"47.2\"

            \        }

            \    }

            }"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: hess/api/site/{siteId}/utilityEnergy
        Method: GET
        Header: 'Header: Authorization : token'
      parameters:
        - name: userToken
          in: query
          required: true
          schema:
            type: string
            description: User token
          description: User token
        - name: userType
          in: query
          required: false
          schema:
            type: string
            description: User Type0- end-user 1- agent
          description: User Type0- end-user 1- agent
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            description: Site ID
          description: Site ID
        - name: timeType
          in: query
          required: true
          schema:
            type: integer
            format: int32
            description: Time Type0：day；1：week；2：month：3:year
          description: Time Type0：day；1：week；2：month：3:year
        - name: startTime
          in: query
          required: true
          schema:
            type: string
            description: Start Timeformat：yyyyMMdd
          description: Start Timeformat：yyyyMMdd
        - name: endTime
          in: query
          required: true
          schema:
            type: string
            description: End Timeformat：yyyyMMdd option，default(current day)
          description: End Timeformat：yyyyMMdd option，default(current day)
        - name: size
          in: query
          required: true
          schema:
            type: integer
            format: int32
            description: Size of one page
          description: Size of one page
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
            description: Current page
          description: Current page
      x-doc-request-example: https://api.livoltek-portal.com:8081/hess/api/site/123/utilityEnergy?timeType=1&startTime=20220701&endTime=20220731&size=10&page=1&userType
      x-response-fields:
        - Parameter: positive
          Type: String
          Length: '10'
          Description: Energy import from grid
          Mandatory: ''
          constraint: ''
        - Parameter: negative
          Type: String
          Length: '10'
          Description: Energy export to grid
          Mandatory: ''
          constraint: ''
        - Parameter: powerGeneration
          Type: String
          Length: '10'
          Description: Solar generation
          Mandatory: ''
          constraint: ''
        - Parameter: ts
          Type: String
          Length: '20'
          Description: timestamp
          Mandatory: ''
          constraint: ''
        - Parameter: siteId
          Type: String
          Length: '32'
          Description: Site id
          Mandatory: ''
          constraint: ''
        - Parameter: message
          Type: String
          Length: '10'
          Description: Message code - operate.success; - operate.fail；
          Mandatory: ''
          constraint: ''
        - Parameter: code
          Type: String
          Length: '10'
          Description: http/https request return code - 200 ok； - 201 Created； - 401
            Unauthorized； - 403 Forbidden; - 404 Not Found
          Mandatory: ''
          constraint: ''
  /hess/api/login:
    post:
      tags:
        - Auth
      summary: API user login and get token
      operationId: apiUserLoginAndGetToken
      description: Get api user token and verify whether the API caller has permission
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelopeObjectData'
          x-doc-response-example: "{

            \    \"code\": \" string \",

            \    \"message\": \"SUCCESS\",

            \    \"data\": {

            \        \"msgCode\": \" string \",

            \        \"message\": string,

            \        \"data\": \" string \",

            \        \"msg_code\": \" string \"

            \    }

            }



            {

            \    \"code\": \"200\",

            \    \"message\": \"SUCCESS\",

            \    \"data\": {

            \        \"msgCode\": \"operate.success\",

            \        \"message\": null,

            \        \"data\":
            \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhdXRoIiwiZXhwIjox\
            NjU4OTQ1MjU5LCJ1c2VyIjoie1wiaWRcIjpcIjU2NjkyZGVhY2ExM

            \t\tzRhYzA4MjdmYTUzMTlhNWViNjczXCIsXCJrZXlcIjpcIktrTzM3aDVmMndCMzB6\
            QVJISGZGdzdQQW5jS3ViYUZRSWJnYXVZY3BnS2pVNmQ1SFRpZDN1

            \t\tUFRpODFISmlSd2JcXHJcXG5cIixcIm5hbWVcIjpcInN6d1wiLFwic2VjdWlkXCI\
            6XCI1M2RiZTJlMTI1NTY0YTVlYjU5MmM2YmE3MmM1NDAwY1wiLFwic3R

            \t\thdHVzXCI6MH0ifQ.ruPateOxjtIwQF8qkgO4m3RiO9Ug6_K4c-5GALrCtKM\",

            \        \"msg_code\": \"operate.success\"

            \    }

            }"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-doc-meta:
        URL: hess/api /login
        Method: POST
        Header: 'Content-Type : application/json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                secuid:
                  type: string
                  description: Security ID
                key:
                  type: string
                  description: Securiity Key
              required:
                - secuid
                - key
      x-doc-request-example: |-
        https://api.livoltek-portal.com:8081/hess/api/login
          {
            "secuid":"String"
            "key":"String"
          }
      x-response-fields:
        - Parameter: mssage
          Type: string
          Length: ''
          Description: Message code
          Mandatory: ''
          constraint: SUCCESS
        - Parameter: code
          Type: string
          Length: '10'
          Description: http/https request code
          Mandatory: ''
          constraint: 200 ok； 201 Created； 401 Unauthorized； 403 Forbidden； 404 Not Found
        - Parameter: data
          Type: String
          Length: '1024'
          Description: ''
          Mandatory: ''
          constraint: ''
        - Parameter: msgCode
          Type: String
[...]
